<form action="reverse_it">
  <div class="form-group">
     <label for="input1">Check if a word is a Palindrome</label>
     <input id="input1" name="input1" class="form-control" type="text">
  </div>
  <br>
  <button type="submit" class="btn btn-info">Palindrome?</button>
</form>
